.pop,
.pop * {
  box-sizing: border-box;
}

.pop {
  --col-flag: 28px;
  --col-converted: 94px;
  --col-arrow: 40px;
  --col-base: 94px;
  --col-context: 80px;

  --pop-positive-3: #85AD1A;
  --pop-positive-2: #85AD1A;
  --pop-positive-1: #BEEE11;
  --pop-neutral:    #e3e312;
  --pop-negative-1: #ff2a2a;


  --pop-pos-3: #85AD1A;
  --pop-pos-2: #85AD1A;
  --pop-pos-1: #BEEE11;

  --divider:   #4973b3;
  --divider:   #363f4b;

  --pop-pos:   #a3cf06;

  --pop-neg:   #ff3737;
  --pop-neg-rgb: 255, 55, 55;

  --bg:        #2b3037;
  --surface:   #1e1e24;
  --surface-2: #28282f;
  --border:    #35353f;
  --accent:    #f0c060;
  --text:      #e2e2e8;
  --muted:     #6b6b7e;

  --header:    #ffffff;

  --pop-neu:   #f8d244;
  --pop-neu-rgb: 248, 210, 68;

  --pop-pos: #a3cf06;
  --pop-pos-rgb: 163, 207, 6;

  --pop-pos: #beee11;
  --pop-pos-rgb: 190, 238, 17;

  --pop-pos: #bce529;
  --pop-pos-rgb: 188, 229, 41;

  --pop-neg-1: #ff1717;
  --pop-neg: #ff1717;
  --pop-neg-rgb: 255, 23, 23;


  --pop-main: rgb(198, 212, 223);
  --pop-main-rgb: 198, 212, 223;    

  --main-separator-rgb: 68, 115, 156;
  --diff-separator-rgb: 99, 99, 99;

  display: block;
  margin-bottom: 16px;


  font-family: "Motiva Sans", sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
  font-size: 17px;

  position: relative;
  z-index: 666;

  user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.2));
}

.pop-header {
  display: flex;
  align-items: center;
  position: relative;

  vertical-align: center;
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 12px;
}


.pop_buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}


.pop_buttons button {
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0 0px;
}

.pop_menu {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(164, 176, 193, 0.7);
  box-sizing: border-box;
  margin-left: 22px;
}

#burgerBtn svg {
  height: 24px;
}

.pop-header svg {
  height: 20px;
  width: 20px;
}

.pop_menu:hover {
  color: rgba(211, 211, 234, 1.0);
}

.pop_valve {
  all: unset;
  cursor: pointer;
  display: flex;
  padding: 0 3px;
  box-sizing: border-box;
  color: #bbb;
  color: #a3afc0;
  color: #b3c0d3;
  color: #a4b0c1;
  color: rgba(221, 242, 255, 0.5);
  border-radius: 2px;
}

.pop_valve:hover {
  color: rgba(221 242 255, 0.7);
  color: rgba(221, 242, 255, 0.85);
  background-color: rgb(28, 168, 255, 0.3)
}

.pop_buttons .pop_valve.active {
  color: rgba(221, 242, 255, 1.0);
  background-color: rgb(28 168 255 / 60%);
}

.pop-currency-block {
  padding-top: 12px;
  padding-bottom: 12px;

  border-bottom: 2px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--main-separator-rgb), 0.8) 33% 45%,
    transparent 103%
  );
}

.pop-currency-block:first-of-type {
  border-top: 2px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--main-separator-rgb), 0.8) 33% 45%,
    transparent 103%
  );

  border-bottom: 0;
  padding-bottom: 0;
}

.pop-currency-block:nth-child(1 of .pop-basic-on) {
  padding-top: 4px;
}

.pop-currency-block.pop_pos { -eval_rgb: var(--pop-pos-rgb); }
.pop-currency-block.pop_neg { -eval_rgb: var(--pop-neg-rgb); }

.pop_row {
  display: grid;
  align-items: center;
  position: relative;
  height: 28px;
}

.pop-basic {
  grid-template-columns: var(--col-flag) var(--col-converted) var(--col-arrow) var(--col-base) 1fr;
}

.pop-diff-wrapper {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid;

  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--diff-separator-rgb), 0.8) 33% 45%,
    transparent 103%
  );
}

.pop-diff {
  grid-template-columns: calc(var(--col-flag) + var(--col-converted)) var(--col-arrow) var(--col-context) 1fr;
  align-content: center;

  border-top: 1px solid;
  border-bottom: 1px solid;

  border-image-slice: 1;

  height: 28px;
}

.pop-def {
  background: linear-gradient(to right, transparent 0%, #555 20%, #555 46%, transparent 94%);

  border-image-source: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--pop-main-rgb), 0.2) 33% 45%,
    transparent 103%
  );
}

.pop-neu {
  background: linear-gradient(to right, transparent 0%, #6d471d 22% 46%, transparent 94%);
  color: rgb(var(--pop-neu-rgb));

  border-image-source: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--pop-neu-rgb), 0.2) 33% 45%,
    transparent 103%
  );
}


[class*="pop-pos"] {
  border-image-source: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--pop-pos-rgb), 0.2) 33% 45%,
    transparent 103%
  );
  
  background: linear-gradient(to right, transparent 0%, #526a2a 22% 46%, transparent 94%);
  color: var(--pop-pos);
}

[class*="pop-neg"] {
  border-image-source: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--pop-neg-rgb), 0.2) 33% 45%,
    transparent 103%
  );

  background: linear-gradient(
    to right,
    rgba(105, 0, 0, 0.1) 1%,
    rgba(105, 0, 0, 0.6) 10%,
    rgba(105, 0, 0, 1.0) 22% 56%,
    rgba(105, 0, 0, 0.3) 84%,
    transparent 98%
  );
  color: var(--pop-neg);
}

.pop_context {
  display: flex;
  margin-right: 8px;
  margin-left: auto;
}

.pop_approx {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-weight: 400;
  opacity: 0.6;
}

.arrow {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-weight: 400;
  color: rgb(119, 119, 119);
  transform: scale(1.3, 1.1);
}


.span-2 { grid-column: span 2; }
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-5 { grid-column: span 5; }
.span-6 { grid-column: span 6; }


.valve-increase { color: #ff9100; }
.valve-decrease { color: #85b6e1; }


[class*="pop-negative"] {
  color: var(--pop-negative-1);
  background: linear-gradient(90deg, transparent 0%, #690000 22% 46%, transparent 94%);
}

.pop-neutral {
  color: var(--pop-neutral);
  background: linear-gradient(to right, transparent 0%, #6d471d 22% 46%, transparent 94%);
}

.pop_price {
  display: flex;
  align-items: baseline;
  justify-self: end;
  position: relative;
  white-space: nowrap;
}

.pop_main_price {
  color: #ddd;
}

.pop_price_left {
  justify-self: start;
}

.pop_symbol {
  font-size: 15px;
  margin-left: 4px;
}

.pop_sign {
  margin-right: 0px; /* chyba lepiej po prostu z 0px */
  display: inline-block;
  text-align: end;
}

.pop_price .pop_symbol.pct {
  margin-left: 3px;
}

.pop_price, 
.valve-recommendation,
.arrow {
  display: flex;
  align-items: baseline; 
}

.valve-recommendation {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  font-variant-numeric: proportional-nums;

  display: flex;
  justify-self: end;
  transform: translateY(2px);
}

.valve-diff-pct {
  position: absolute;
  left: 100%;
  font-size: 13px;
  white-space: nowrap;
  transform: translate(1px, -8px);
}

.pop-reaction {
  display: flex;
  flex-shrink: 0;
  right: 8px;
  position: absolute;
  align-items: flex-end;
}

.pop-thumb,
.pop-head {
  display: flex;
  margin-left: 1px;
}

.pop-head svg {
  display: block;
  width: 24px;
  height: 24px;
}

.pop-thumb svg {
  display: block;
  width: 22px;
  height: 22px;
  margin-left: 3px;
}

[class*="pos"] .pop-thumb {
  transform: scaleX(-1);
}

[class*="neg"] .pop-thumb {
  transform: scale(-1, -1);
}

.flag {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: center;
  justify-content: center;
  align-content: center;
  position: relative;
  user-select: none;
  -webkit-user-select: none;

}

.flag svg {
  display: block;
  border-radius: 2px;
  height: 20px;
}

.pop-menu {
  position: absolute;
  top: 50px;
  right: 32px;
  left: auto;
  width: 260px;
  border: 1px solid #232f40;
  border-radius: 10px;
  border-radius: 5px;

  box-shadow:
    0 0 16px rgba(0,0,0,1.0);

  opacity: 0;
  transform: translateX(60%);
  pointer-events: none;
  transition:
    opacity 0.20s cubic-bezier(0.4, 0, 0.2, 1),
    transform .20s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: auto;
  font-size: 13px;
  font-weight: 500;
  background: linear-gradient(
    160deg,
    #1f2d3d 0%,
    #161f2a 90%,
    #0f1519 100%
  );
  z-index: 777;
}

.pop-menu.is-open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.pop-menu-inner {
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.pop-menu-label {
  font-size: 13px;
  font-weight: 400;
}

.pop-menu-label-pop {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.heart {
  display: block;
  text-align: center;
  font-weight: 400;
}

.heart svg {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  margin-left: 3px;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.9));
}

.socials .pop-menu-label {
  text-align: center;
}

.socials {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 12px;
  border: none;
  margin-top: 24px;
  padding-top: 24px;
  align-items: center;

}

.socials::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(to right,
    rgba(124, 190, 242, 0.5),
    rgba(124, 190, 242, 0.8) 30%,
    rgba(124, 190, 242, 0.8) 70%,
    rgba(124, 190, 242, 0.5)
  );
  box-shadow:
    0 0 5px 1px rgba(0, 0, 0, 0.7);
}

.socials-row {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 36px);
  gap: 8px 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #495562;
  background: #303c49;
  color: inherit;
  position: relative;
  transition: opacity;
  box-shadow:
    0 0 8px rgba(0,0,0,1.0);
}

.social-btn.coffee {
  align-self: center;
  box-shadow:
    0 0 24px rgba(231,114,172,1.0);
}

.social-btn:hover {
  color: #7cbef2;
}

.social-btn svg {
  width: 26px;
  height: 26px;
  z-index: 1;
}

.currency-list {
  border-top: solid 1px #363f4b;
  border-bottom: solid 1px #363f4b;
}


.checkbox-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto;

  background: #404c58;
  background: #1f2836;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.15) 20%,
    rgba(0, 0, 0, 0.15) 80%,
    rgba(0, 0, 0, 0.0) 100%
  );

  height: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;

  padding: 3px 10px 3px 0;
  align-items: center;
  gap: 0 8px;
}

.currency-list .checkbox-row + .checkbox-row {
  border-top: solid 1px #363f4b;
}

.pop-menu-version {
  position: absolute;
  bottom: 2px;
  right: 10px;
  font-size: 10px;
  color: #3b4858;
}

/* valve tooltip cursor fix */
.store_tooltip {
  cursor: default;
}

.icon-toggle {
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
}

.icon-toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.icon-toggle-icon {
  display: flex;
  opacity: 0.34;
  transition: opacity;
}

.icon-toggle:hover .icon-toggle-icon {
  opacity: 0.60;
}

.icon-toggle input:checked + .icon-toggle-icon {
  opacity: 1;
  border-radius: 4px;
}

.icon-toggle-visibility:hover .icon-toggle-icon svg {
  fill: #7cbef2;
}

.icon-toggle-scale:hover .icon-toggle-icon svg {
  fill: #f0c060;
}

.icon-toggle input:checked + .icon-toggle-icon svg {
  display: block;
}

.icon-toggle-visibility input:checked + .icon-toggle-icon svg {
  fill: #7cbef2;
}

.icon-toggle-scale input:checked + .icon-toggle-icon svg {
  fill: #f0c060;
}

.pop-menu .flag svg {
  height: 20px;
  border-radius: 2px;
}


.pop-basic-off,
.pop-diff-off {
  display: none !important;
}

.valve-recommendation {
  --pop_valve_translate_y: 15px;
}

.pop-diff_on .valve-recommendation {
  --pop_valve_translate_y: 18px;
}

.pop-socials-hidden {
  display: none !important;
}

.pop-menu-more-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  padding: 8px 0;
  margin-top: 16px;
  margin-bottom: 8px;
  color:   #f19fff;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
}

.pop-menu-more-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.pop-menu-more-btn svg {
  height: 6px;
  margin: 0;
  transform: scale(1.3, 1);
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.6));
}
